<article class="article">
  <section class="article-head">
    <h1><%= @article.title %></h1>
    <small>
      <time><%= @article.created_at.to_date.strftime("%d %B, %Y") %></time>
      |
      <%= link_to 'Изменить', edit_article_path(@article) %>
      |
      <%= link_to 'Удалить', article_path(@article), method: :delete, data: { confirm: 'Вы уверены?' }  %>
    </small>
  </section>
  <section class="article-body">
    <%= @article.text %>
  </section>
  <strong>Комментарии</strong>
  <section class="article-comments">
    <%= render @article.comments %>
  </section>
  <section class="article-comments-send"
    Оставить комментарий:
    <%= render 'comments/form' %>
  </section>
</article>
